* {
  padding: 0;
  margin: 0;
}

.icon {
  width: 5rem;
  height: 5rem;
}

.calc-sysyem {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  margin: 1rem;
}

h2 {
  margin-bottom: 0.5rem;
}
main {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
label {
  width: 2rem;
}

.input-area {
  width: 12rem;
  display: flex;
  justify-content: space-between;
  margin: 0.3rem;
  margin-right: 2rem;
}

.denominations-total {
  margin: 0.3rem;
}

span {
  font-weight: bold;
}

.btn-calc {
  margin: 1rem;
  border: 1px solid #213547;
  color: #213547;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #f9f9f9;
  cursor: pointer;
}

.btn-calc:hover,
.btn-calc:active {
  text-align: center;
  background-color: #213547;
  color: #f2f0e9;
}

.btn-clear {
  border: none;
  border-bottom: 1px solid rgb(174, 0, 0);
  color: rgb(174, 0, 0);
  background-color: #f2f0e9;
  cursor: pointer;
}

.btn-clear:hover,
.btn-clear:active {
  color: rgba(174, 0, 0, 0.601);
  border-bottom: 1px solid rgba(174, 0, 0, 0.601);
  background-color: #f2f0e9;
}

.total-amount {
  text-align: center;
  margin: 1rem;
  font-size: 1.4rem;
}
.copyright {
  font-weight: 300;
  margin-top: 1rem;
}
