:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color: #213547;
  background-color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f2f0e9;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

.btn-calc {
  margin: 1rem;
  border: 1px solid #213547;
  color: #213547;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #f9f9f9;
  cursor: pointer;
}

.btn-calc:hover,
.btn-calc:active {
  text-align: center;
  background-color: #213547;
  color: #f2f0e9;
}

.btn-clear {
  border: none;
  border-bottom: 1px solid rgb(174, 0, 0);
  color: rgb(174, 0, 0);
  background-color: #f2f0e9;
  cursor: pointer;
}

.btn-clear:hover,
.btn-clear:active {
  color: rgba(174, 0, 0, 0.601);
  border-bottom: 1px solid rgba(174, 0, 0, 0.601);
  background-color: #f2f0e9;
}
